# Funçoes

* nome seguido de abre e fecha parentesis
* recebe argumentos

## Exemplos

```css
@import url("http://urlaqui.com/style.css");
{
  color: rgb(255,0,100);
  width: calc(100% - 10px);
}

## Vendor Prefixes

permite que browser adicione `features` a fim de colocar em uso alguma novidade que vemos no CSS

# Exemplo

```css

p{
 
    -webkit-background-clip: text; /*Chrome, Safari, iOS e Android*/
    -moz-background-clip: text; /* Mozilla (Firefox) */
    -ms-background-clip: text; /* Internet Explorer ou Edge*/
    -o-background-clip: text; /* Opera */
}